appdirs==1.4.3
axju-jokes==1.0.3
attrs==19.3.0
Automat==0.8.0
backcall==0.2.0
beautifulsoup4==4.11.1
blinker==1.4
bs4==0.0.1
certifi==2022.5.18.1
chardet==3.0.4
chime==0.5.3
Click==7.0
geopy==2.2.0
pyowm==3.3.0
pyjokes==0.6.0
